<p>questions app is running!</p>
<app-show-hide></app-show-hide>
<app-search></app-search>
<app-todo-list></app-todo-list>
<app-project-list></app-project-list>
<app-project-with-tasks></app-project-with-tasks>
<app-student-list></app-student-list>

<app-category-menu></app-category-menu>
<app-login></app-login>
<app-user-register></app-user-register>
<app-employee></app-employee>
<app-product></app-product>
<app-show-square></app-show-square>
<app-q93></app-q93>
<app-project-percent></app-project-percent>
<app-weather></app-weather>
<router-outlet></router-outlet>